.title-screen {
  background-color: $bg-color;
  padding: 145px 240px;
  position: relative;

  &__content-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  &__text {
    margin-right: 20px;
  }

  &__title {
    color: $primary-color;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
  }

  &__subtitle {
    color: $text-color;
    font-size: 24px;
    font-size: 18px;
    line-height: 150%;
    margin: 16px 0 30px 0;
  }

  &__bg-img {
    position: absolute;

    &--one {
      top: 0;
      left: 0;
    }

    &--two {
      bottom: 0;
      left: 0;
    }

    &--three {
      bottom: 0;
      left: 20%;
    }

    &--four {
      bottom: 0;
      right: 0;
    }
  }
}
