.title-screen {
  position: relative;
  background-color: #fddedb;
  height: 690px;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content-wrapper {
    display: flex;
    max-width: 1000px;
    height: 100%;
    margin: auto;
    position: relative;
    z-index: 1;
  }

  &__content {
    margin: auto 0 49px auto;

    .button {
      margin-top: 36px;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 64px;
    line-height: 110%;
    color: #663d84;
    margin-bottom: 24px;
  }

  &__text {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
    border-bottom: 2px solid #000000;
  }

  &__link {
    text-decoration: none;
  }
}
