// common
@import "reset";
@import "fonts";
@import "media-mixins";

// components
@import "../components/button/button.scss";
@import "../components/header/header.scss";
@import "../components/footer/footer.scss";
@import "../components/goalItem/goal-item.scss";
@import "../components//videoItem/video-item.scss";
@import "../components/goalsSliderDesktop/goals-slider-desktop.scss";
@import "../components/goalsSliderMobile/goals-slider-mobile.scss";
@import "../components/benefitsSlider/benefits-slider.scss";
@import "../components/feedbackSlider/feedback-slider.scss";
@import "../components/videosSlider/videos-slider.scss";
@import "../components/screens/screens.scss";
@import "../components/videoModal/video-modal.scss";
@import "../components/lessonModal/lesson-modal.scss";
@import "../components/mobileHeader/mobile-header.scss";
@import "../components/contactForm/contact-form.scss";
@import "../components/formModal/form-modal.scss";

body {
  font-family: "Inter", sans-serif;

  @media (-webkit-device-pixel-ratio: 1) {
    zoom: 1.25;
  }
}

body.modal-opened {
  overflow: hidden;
}

.main {
  position: relative;
  overflow: hidden;

  &__bg {
    position: absolute;
    width: 100%;
    pointer-events: none;
    z-index: 4;

    @include desktop_small_tablet {
      display: none;
    }

    @include mobile {
      display: none;
    }
  }
}
