.tutor-header {
  padding: 20px 180px;
  display: flex;

  &__nav {
    margin-left: 80px;
  }

  &__nav-btn {
    border: none;
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
    color: $text-color;
    padding: 10px 20px;
    font-size: 13px;
    line-height: 16px;
    border-radius: 7px;

    &--active {
      background-color: #5f7ce6;
      color: #ffffff;
    }
  }
}
