.goals-slider-mobile {
  margin-bottom: 48px;

  @include mobile {
    margin-bottom: 24px;
  }

  &__content {
    display: flex;
    justify-content: center;
    position: relative;
    transition: cubic-bezier(0.35, 0, 0, 1) 0.6s;
  }

  &__item-wrapper {
    padding: 0 6px;

    @include mobile {
      padding: 0 5px;
    }
  }
}
